# Codility - chapter 1 - iterations

## For loops

In [11]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
def factorial(n : int) -> int:
    result = 1
    for x in range(1, n + 1):
        result = result * x
    return result

In [46]:
print(*['*','*'])

* *

In [47]:
[1] + [2]

[1, 2]

In [50]:
def printTriangle(n : int):
    listOfStars = []
    for x in range(0, n):
        listOfStars += ['* ']
        print(*listOfStars)

In [51]:
printTriangle(3)

*
*  *
*  *  *

In [69]:
def printInvertedTriangle(n : int):
    listOfSpaces = []
    for x in range(n, 0, -2):
        listOfStars = []
        for z in range(0, x):
            listOfStars += ['*']
            row = listOfSpaces + listOfStars + listOfSpaces
        listOfSpaces += [' ']
        print(*row)

In [73]:
printInvertedTriangle(6)

* * * * * *
  * * * *
    * *

## While loops

In [89]:
def countDigits(n : int) -> int:
    value = n
    digits = 0
    while value > 0:
        value = value // 10
        digits += 1
    return digits

In [90]:
1 // 10

0

In [92]:
countDigits(4)

1

In [103]:
a = []

In [104]:
a = a + 1

TypeError: can only concatenate list (not "int") to list

In [106]:
def generateFibonacci(n : int) -> list[int]:
    a = 0
    b = 1
    result = []
    while a <= n:
        result = result + [a]
        c = a + b
        a = b
        b = c
    return result

In [108]:
generateFibonacci(13)

[0, 1, 1, 2, 3, 5, 8, 13]

In [114]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
days = {’mon’: ’Monday’, ’tue’: ’Tuesday’, ’wed’: ’Wednesday’,’thu’: ’Thursday’, ’fri’: ’Friday’, ’sat’: ’Saturday’,’sun’: ’Sunday’}

In [115]:
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [161]:
bin(90)[2:]

'1011010'

In [159]:
def binaryGap(n : int) -> int:
    binary = bin(n)[2:]
    gap = 0
    currentGap = -1
    for value in binary:
        print('value ', value, 'currentGap ', currentGap)
        if value == '1':            
            if currentGap >= gap:
                gap = currentGap
            currentGap = 0
        elif value == '0' and currentGap >= 0:
            currentGap = currentGap + 1
    return gap

In [160]:
binaryGap(10)

value  1 currentGap  -1
value  0 currentGap  0
value  1 currentGap  1
value  0 currentGap  0

1